{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Criar novo usuário: </h3>
<div class="card">
    <div class="card-body">
        <form action="" method="POST">
            <label for="nome"> Nome: </label>
                <input type="text" name="nome" class="form-control" required>
            <label for="usuario">Usuário: </label>
                <input type="text" name="usuario" class="form-control" required>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita a sua senha: </label>
                <input type="password" name="senha2" class="form-control" required>
            <div class="container mt-2">
                <input id="chkadm" type="checkbox" value="true" name="ehAdm">
                <label for = "chkadm"> Usuário Administrador? </label>
            </div>
            <button type="submit" class="btn btn-success">Criar conta</button>    
        </form>
    </div>
</div>